* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "raleway";
	font-weight: 600;
}

.navbar {
	display: flex;
	/* position: relative; */
	background-color: rgb(255, 254, 254);
	justify-content: space-between;
	align-items: center;
	position: fixed;
	padding: 0px 40px;
	height: 70px;
	width: 100vw;
	z-index: 100;
	color: black;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}
.hamburger {
	display: none;
}
.link {
	color: black;
	cursor: pointer;
	transition: 0.4s ease;
	font-weight: 1200;
}
#logo {
	position: absolute;
	width: 45px;
	height: 45px;
	top: 15px;
	left: 40px;
	cursor: pointer;
}
.nav-options {
	padding-left: 25px;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-gap: 50px;
	list-style-type: none;
}

.option :hover {
	color: rgb(245, 80, 80);
}

/* welcome section */

#welcome {
	width: 100vw;
	height: 100vh;
	background-image: url("../public/fondo.jpeg");

	background-size: cover;
	display: flex;
	align-items: center;
}

#d {
	transition: 3s;
}
#e {
	transition: 3s;
}
#v {
	transition: 3s;
}
#l {
	transition: 3s;
}
#o {
	transition: 3s;
}
#p {
	transition: 3s;
}
#r {
	transition: 3s;
}
#d:hover {
	color: #f9d99a;
	transition: 0s;
}
#e:hover {
	color: #77dd77;
	transition: 0s;
}
#v:hover {
	color: #fdfd96;
	transition: 0s;
}
#l:hover {
	color: #84b6f4;
	transition: 0s;
}
#o:hover {
	color: #fdcae1;
	transition: 0s;
}
#p:hover {
	color: #b2e2f2;
	transition: 0s;
}
#r:hover {
	color: #dcd9f8;
	transition: 0s;
}

#welcome h4,
#welcome h2,
#welcome p {
	color: white;
}

#welcome-container {
	/* border: 1px solid black; */
	background-color: rgba(0, 0, 0, 0.4);
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#welcome-container h4 {
	font-size: 2rem;

	margin-bottom: 20px;
}
#welcome-container h2 {
	font-size: 3.5rem;

	margin-bottom: 20px;
}
#welcome-container a {
	font-size: 1.2rem;
	margin-right: 20px;
}

#link-cont {
	margin-top: 3em;
}
#link-cont a {
	text-decoration: none;
	color: white;
	font-weight: 800;
	border: 1px solid rgb(245, 80, 80);
	border-radius: 4px;
	padding: 8px;
	transition: all 0.8s ease;
}

#link-cont a:hover {
	background-color: rgb(245, 80, 80);
}

/* About section */

#about-me {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
#img-container {
	height: 400px;
	width: 400px;
}

#img-container img {
	height: auto;
	width: 100%;
	border-radius: 50px;
}

#about-text {
	height: 55vh;
	width: 35vw;
	padding: 40px;
}
/* 
hr {
	color: 1px solid black;
	margin: 20px 20px;
	width: 50%;
	text-align: center;
} */

/* Hard Skills */

#hard-skills {
	height: 60vh;
	background-color: rgba(245, 240, 240, 0.4);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 40px;
}

.skills-logo {
	width: 100%;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.skills-logo img {
	width: 110px;
	height: 100px;
	margin-right: 10px;
}

/* Projects */

#projects-container {
	height: 110vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#projects-container h2 {
	margin-top: 60px;
}

#projects {
	width: 90vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 50px;
}

.project-card {
	position: relative;
	width: 28vw;
	height: 35vh;
	margin: 30px 15px 0 15px;
	box-shadow: 1px 8px 44px -18px rgba(55, 55, 55, 0.71);
	border-radius: 3px;
	transition: 1s ease;
}

.project-card img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.project-text {
	position: absolute;
	top: 0;
	left: 0;
	width: 28vw;
	height: 35vh;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 0.4s ease;
}

.project-text:hover {
	opacity: 1;
}
.project-text p {
	margin-top: 20px;
	width: 75%;
	font-size: 0.7em;
	text-align: center;
}

.gh-link {
	text-decoration: none;
	color: rgb(245, 80, 80);
}

/* Contact */

#contact {
	height: 30vh;
	background-color: rgba(245, 240, 240, 0.4);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#contact-info {
	margin-top: 1.5rem;
	display: flex;
	flex-direction: column;
}

.contact-logo {
	height: 30px;
	margin: 5px;
}

.to-align {
	display: flex;
	text-decoration: none;
	color: black;
	align-items: center;
	margin-top: 8px;
}

/* Reponsive */

@media (max-width: 450px) {
	.nav-options {
		display: flex;
		position: absolute;
		flex-direction: column;
		top: 68px;
		left: 0px;
		background-color: white;
		width: 100%;
		justify-content: center;
		align-items: center;
		padding-bottom: 10px;
	}
	.hamburger {
		display: flex;
		width: 25px;
		height: 25px;
	}
	.nav-mobile {
		display: none;
	}

	.skills-logo img {
		width: 60px;
		height: 55px;
		margin: 25px;
	}

	#hard-skills {
		justify-content: space-between;
		height: 64vh;
	}
	#hard-skills h2 {
		margin-bottom: 20px;
	}

	#welcome-container h2 {
		text-align: center;
	}
	#link-cont a {
		background-color: rgb(245, 80, 80);
	}

	#about-me {
		flex-direction: column;
		justify-content: flex-start;
		height: 80vh;
		margin-top: 40px;
	}

	#img-container {
		height: 260px;
		width: 260px;
	}

	#about-text h2 {
		font-size: 1rem;
		margin-bottom: 40px;
	}
	#about-text p {
		overflow-wrap: anywhere;
	}
	#about-text {
		font-size: 18px;
		width: 90vw;
		height: 70vh;
	}
}
